<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Pesquisar Receita</title>
</head>

<body>
  <header>
    <%- include("../header.ejs") %>
  </header>
  <h1>Cookmaster - Pesquisar Receita</h1>
  <% if (message) {%>
  <div class="message">
    <%= message %>
  </div>
  <% } %>
  <div>
    <form action="/recipes/search" method="GET">
      <label for="searchInput">Pesquisa: </label>
      <input type="text" name="q" id="searchInput" />
      <button type="submit">Pesquisar receita</button>
    </form>
  </div>
  <div>
    <ul>
        <% recipes && recipes.forEach((recipe) => { %>
          <li><%= recipe.recipeName %> (criada por <%= recipe.firstName%> <%=recipe.lastName%>) </li>
          <a href=/recipes/<%= `${recipe.id}` %>>Detalhes</a>
        <% }) %>
    </ul>
  </div>
  <button onclick="window.location.pathname='/'">Ir para Home</button>
  <button onclick="javascript:history.back()">Voltar</button>

</body>

</html>